@charset "UTF-8";
/* CSS Document */

h2 {
	color:#0033FF;
}

a, a:visited, a:hover, a:active {
	color: #000;
	text-decoration: none;
}

li {
	list-style: disc;
}

.logo {
	display: block;
	width: 258px;
	height: 96px;
	margin-top: 40px;
	margin-bottom: 35px;
	float: left;
	margin-left: 2px;}